<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/CSS codepen button.png</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAAB22esRQ1nWDEhRG7z3hItayPN/xMeX18WGv1zhlarB6EAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAFgAAAAEBAABD
	U1MgY29kZXBlbiBidXR0b24ucG5nAAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAA
	YAAAAAgAAAAEAwAAIWkGAAAAAAAIAAAABAMAAMrDBgAAAAAACAAAAAQDAADbwwYAAAAA
	AAgAAAAEAwAA/xQRAAAAAAAIAAAABAMAAOY2kAAAAAAACAAAAAQDAAC6jJEAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwPjvPoAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9QEAAAgAAAABCQAAZmlsZTovLy8KAAAAAQEAAE1hYyBTaWVycmEAAAgAAAAEAwAAAAB0
	BToAAAAIAAAAAAQAAEHAfcrqgAAAJAAAAAEBAAA4NUY3RTFBMy02RUM1LTNGMzMtODgy
	QS03QzYxOUZGN0I4Q0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/CSS menu toggle css only.png</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAALfqJwRvtF2MVSGkkGQ3wW9sLtmbRmS0udabR5i57zPPFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAHAAAAAEBAABD
	U1MgbWVudSB0b2dnbGUgY3NzIG9ubHkucG5nGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	VAAAAGAAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MG
	AAAAAAAIAAAABAMAAP8UEQAAAAAACAAAAAQDAADmNpAAAAAAAAgAAAAEAwAArsGQAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcD3qJgAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAABAMA
	AAAAdAU6AAAACAAAAAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0zRjMz
	LTg4MkEtN0M2MTlGRjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/CSS pokemon.png</key>
	<data>
	Ym9vawwDAAAAAAQQMAAAAPQkIqrj3BSNdUG+Ff5uJBkEyJFu4s5Vy+ZCJLkHYuf2CAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MADwAAAAEBAABD
	U1MgcG9rZW1vbi5wbmcAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAAVAAAAGAAAAAIAAAA
	BAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MGAAAAAAAIAAAABAMA
	AP8UEQAAAAAACAAAAAQDAADmNpAAAAAAAAgAAAAEAwAAyFWRAAAAAAAYAAAAAQYAAJgA
	AACoAAAAuAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQcD4T24AAAAYAAAAAQIAAAEAAAAA
	AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
	AQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAABAMAAAAAdAU6AAAACAAA
	AAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0zRjMzLTg4MkEtN0M2MTlG
	RjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
	AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAHgAAAAAAAAABRAAAPgAAAAAAAAA
	EBAAACgBAAAAAAAAQBAAABgBAAAAAAAAAiAAAPQBAAAAAAAABSAAAGQBAAAAAAAAECAA
	AHQBAAAAAAAAESAAAKgBAAAAAAAAEiAAAIgBAAAAAAAAEyAAAJgBAAAAAAAAICAAANQB
	AAAAAAAAMCAAAAACAAAAAAAAAcAAAEgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgBAAAA
	AAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/CSS reflection@1x.png</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAAKTVgtU4iRkWcsDBr0o/ZVAM76vdtNrzMuLfhCF92Q+uEAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAFQAAAAEBAABD
	U1MgcmVmbGVjdGlvbkAxeC5wbmcAAAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAA
	YAAAAAgAAAAEAwAAIWkGAAAAAAAIAAAABAMAAMrDBgAAAAAACAAAAAQDAADbwwYAAAAA
	AAgAAAAEAwAA/xQRAAAAAAAIAAAABAMAAOY2kAAAAAAACAAAAAQDAABvq5EAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwPko7AAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9QEAAAgAAAABCQAAZmlsZTovLy8KAAAAAQEAAE1hYyBTaWVycmEAAAgAAAAEAwAAAAB0
	BToAAAAIAAAAAAQAAEHAfcrqgAAAJAAAAAEBAAA4NUY3RTFBMy02RUM1LTNGMzMtODgy
	QS03QzYxOUZGN0I4Q0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/CSS typewriter.png</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAGgGl1sHEFefIvaqR1SyS3jB3UZhMJOheW+CmZ8gMjS1DAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAEgAAAAEBAABD
	U1MgdHlwZXdyaXRlci5wbmcAABgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABgAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAA5jaQAAAAAAAIAAAABAMAAGt1kAAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA9yynAAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/animate_hero_final.m4a</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAACGT8PiHyIkfT/nSRfMNqVJKnv6Pwiktd3AoNvrkxlQREAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAFgAAAAEBAABh
	bmltYXRlX2hlcm9fZmluYWwubTRhAAAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAA
	YAAAAAgAAAAEAwAAIWkGAAAAAAAIAAAABAMAAMrDBgAAAAAACAAAAAQDAADbwwYAAAAA
	AAgAAAAEAwAA/xQRAAAAAAAIAAAABAMAAOY2kAAAAAAACAAAAAQDAABWcpAAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwPcqrwAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9QEAAAgAAAABCQAAZmlsZTovLy8KAAAAAQEAAE1hYyBTaWVycmEAAAgAAAAEAwAAAAB0
	BToAAAAIAAAAAAQAAEHAfcrqgAAAJAAAAAEBAAA4NUY3RTFBMy02RUM1LTNGMzMtODgy
	QS03QzYxOUZGN0I4Q0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/clip_text_final.m4a</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAACx0PUVMfA3lTg/IyrnT3OyL0vmMoROapuSWab+sd+79DAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAEwAAAAEBAABj
	bGlwX3RleHRfZmluYWwubTRhABgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABgAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAA5jaQAAAAAAAIAAAABAMAAFA+kAAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA9pcqgAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/codepen-gradient-button.m4a</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAFS8zJRGZ9K2cyxq19NGQSYsES84nvWvKLWJ2BF24SMNFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAGwAAAAEBAABj
	b2RlcGVuLWdyYWRpZW50LWJ1dHRvbi5tNGEAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	VAAAAGAAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MG
	AAAAAAAIAAAABAMAAP8UEQAAAAAACAAAAAQDAADmNpAAAAAAAAgAAAAEAwAAIZmRAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcD49piAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAABAMA
	AAAAdAU6AAAACAAAAAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0zRjMz
	LTg4MkEtN0M2MTlGRjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/gradient heading.m4a</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAADRwrNhayyD4ZjYSACiW1Bpk3f/SZMC9EVRd1pTjgid5DAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAFAAAAAEBAABn
	cmFkaWVudCBoZWFkaW5nLm00YRgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABgAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAA5jaQAAAAAAAIAAAABAMAAPGxkQAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA+SqwgAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/menu toggler audio main final.m4a</key>
	<data>
	Ym9vayADAAAAAAQQMAAAALBe9YKN9w4cS5x6xmqsdaxCcU2dUn2eZ2GDxbdu0im0HAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAIQAAAAEBAABt
	ZW51IHRvZ2dsZXIgYXVkaW8gbWFpbiBmaW5hbC5tNGEAAAAYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABUAAAAYAAAAAgAAAAEAwAAIWkGAAAAAAAIAAAABAMAAMrDBgAAAAAACAAA
	AAQDAADbwwYAAAAAAAgAAAAEAwAA/xQRAAAAAAAIAAAABAMAAOY2kAAAAAAACAAAAAQD
	AABe0ZAAAAAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	wPe0iwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8KAAAAAQEAAE1hYyBTaWVycmEA
	AAgAAAAEAwAAAAB0BToAAAAIAAAAAAQAAEHAfcrqgAAAJAAAAAEBAAA4NUY3RTFBMy02
	RUM1LTNGMzMtODgyQS03QzYxOUZGN0I4Q0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
	jAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEAAAAAAABAEAAALAEAAAAAAAACIAAACAIA
	AAAAAAAFIAAAeAEAAAAAAAAQIAAAiAEAAAAAAAARIAAAvAEAAAAAAAASIAAAnAEAAAAA
	AAATIAAArAEAAAAAAAAgIAAA6AEAAAAAAAAwIAAAFAIAAAAAAAABwAAAXAEAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/menu toggler intro final.m4a</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAEz+NNYkMxOkQ58hPI2/YKZ/4Kkd3UJOMNeES09Azo/VFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAHAAAAAEBAABt
	ZW51IHRvZ2dsZXIgaW50cm8gZmluYWwubTRhGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	VAAAAGAAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MG
	AAAAAAAIAAAABAMAAP8UEQAAAAAACAAAAAQDAADmNpAAAAAAAAgAAAAEAwAA7MiQAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcD3qh2AAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAABAMA
	AAAAdAU6AAAACAAAAAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0zRjMz
	LTg4MkEtN0M2MTlGRjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/pokemon.m4a</key>
	<data>
	Ym9vawgDAAAAAAQQMAAAAEZDXT2fsLtgmzCrw7upgkKaZ3PQAwJoxLohcjzxgDN0BAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MACwAAAAEBAABw
	b2tlbW9uLm00YQAYAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAAYAAAAAgAAAAEAwAA
	IWkGAAAAAAAIAAAABAMAAMrDBgAAAAAACAAAAAQDAADbwwYAAAAAAAgAAAAEAwAA/xQR
	AAAAAAAIAAAABAMAAOY2kAAAAAAACAAAAAQDAAAZZZEAAAAAABgAAAABBgAAlAAAAKQA
	AAC0AAAAxAAAANQAAADkAAAACAAAAAAEAABBwPh4kQAAABgAAAABAgAAAQAAAAAAAAAP
	AAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
	ZmlsZTovLy8KAAAAAQEAAE1hYyBTaWVycmEAAAgAAAAEAwAAAAB0BToAAAAIAAAAAAQA
	AEHAfcrqgAAAJAAAAAEBAAA4NUY3RTFBMy02RUM1LTNGMzMtODgyQS03QzYxOUZGN0I4
	Q0EYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
	BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAdAAAAAAAAAAFEAAA9AAAAAAAAAAQEAAA
	JAEAAAAAAABAEAAAFAEAAAAAAAACIAAA8AEAAAAAAAAFIAAAYAEAAAAAAAAQIAAAcAEA
	AAAAAAARIAAApAEAAAAAAAASIAAAhAEAAAAAAAATIAAAlAEAAAAAAAAgIAAA0AEAAAAA
	AAAwIAAA/AEAAAAAAAABwAAARAEAAAAAAAARwAAAIAAAAAAAAAASwAAAVAEAAAAAAAAQ
	0AAABAAAAAAAAAA=
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/CSS/typewriter_final.m4a</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAO0wp+qc8p7SLP/mXtNGBNIRvd+XnefQYhcqeBTzhWvNDAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAAwAAAAEBAABDU1MAFAAAAAEBAAB0
	eXBld3JpdGVyX2ZpbmFsLm00YRgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABgAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAA5jaQAAAAAAAIAAAABAMAAE+BkAAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA9z+RAAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/glitch intro.mp4</key>
	<data>
	Ym9va+gCAAAAAAQQMAAAAI8bGxkAXCcz1JpMN4RJmO8WJTeNB7HoEpsKK6y4YEXz5AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAEAAAAAEBAABnbGl0Y2ggaW50cm8u
	bXA0FAAAAAEGAAAQAAAAIAAAADAAAABAAAAAVAAAAAgAAAAEAwAAIWkGAAAAAAAIAAAA
	BAMAAMrDBgAAAAAACAAAAAQDAADbwwYAAAAAAAgAAAAEAwAA/xQRAAAAAAAIAAAABAMA
	ACQiEQAAAAAAFAAAAAEGAACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAABAAAQcB1ICSA
	AAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAE
	AAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAA
	BAMAAAAAdAU6AAAACAAAAAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0z
	RjMzLTg4MkEtN0M2MTlGRjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
	AAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAGwAAAAA
	AAAABRAAANgAAAAAAAAAEBAAAAQBAAAAAAAAQBAAAPQAAAAAAAAAAiAAANABAAAAAAAA
	BSAAAEABAAAAAAAAECAAAFABAAAAAAAAESAAAIQBAAAAAAAAEiAAAGQBAAAAAAAAEyAA
	AHQBAAAAAAAAICAAALABAAAAAAAAMCAAANwBAAAAAAAAAcAAACQBAAAAAAAAEcAAACAA
	AAAAAAAAEsAAADQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/like.png</key>
	<data>
	Ym9va+ACAAAAAAQQMAAAAC1TdV2D7gOqCdi9NvOOZJ3foAy2mmtlLGq7MSHDs9wo3AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAACAAAAAEBAABsaWtlLnBuZxQAAAAB
	BgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYA
	AAAAAAgAAAAEAwAA28MGAAAAAAAIAAAABAMAAP8UEQAAAAAACAAAAAQDAAAsIhEAAAAA
	ABQAAAABBgAAgAAAAJAAAACgAAAAsAAAAMAAAAAIAAAAAAQAAEHAar2CgAAAGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQF
	OgAAAAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJB
	LTdDNjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAADQ
	AAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAAAAIgAADIAQAAAAAAAAUgAAA4AQAA
	AAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIgAABcAQAAAAAAABMgAABsAQAAAAAA
	ACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAcAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAsAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/parcelable/parcelable@1x.png</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAEzDAyei2VFuLiV8YlRjfRcB139z0yIIEkCg+741kJ7aFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAACgAAAAEBAABwYXJjZWxhYmxlAAAR
	AAAAAQEAAHBhcmNlbGFibGVAMXgucG5nAAAAGAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
	VAAAAGgAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MG
	AAAAAAAIAAAABAMAAP8UEQAAAAAACAAAAAQDAAAD7ZIAAAAAAAgAAAAEAwAACu2SAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcD5zNyAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vCgAAAAEBAABNYWMgU2llcnJhAAAIAAAABAMA
	AAAAdAU6AAAACAAAAAAEAABBwH3K6oAAACQAAAABAQAAODVGN0UxQTMtNkVDNS0zRjMz
	LTg4MkEtN0M2MTlGRjdCOENBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/parcelable/parceler.m4a</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAI0FBLHxGOPcwTtMFdSgrmpbK2h7nVr+CvVugclAxomzDAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAACgAAAAEBAABwYXJjZWxhYmxlAAAM
	AAAAAQEAAHBhcmNlbGVyLm00YRgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABoAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAAA+2SAAAAAAAIAAAABAMAACULkwAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA+d+fAAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/parcelable/parceler.m4v</key>
	<data>
	Ym9vaxADAAAAAAQQMAAAAP/O3DqW18nxsUxweEqbnKRp/EgIPhxRpB6U9Eoul7EcDAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAACgAAAAEBAABwYXJjZWxhYmxlAAAM
	AAAAAQEAAHBhcmNlbGVyLm00dhgAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAABoAAAA
	CAAAAAQDAAAhaQYAAAAAAAgAAAAEAwAAysMGAAAAAAAIAAAABAMAANvDBgAAAAAACAAA
	AAQDAAD/FBEAAAAAAAgAAAAEAwAAA+2SAAAAAAAIAAAABAMAADAFkwAAAAAAGAAAAAEG
	AACcAAAArAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHA+dw2gAAAGAAAAAECAAAB
	AAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAA
	CAAAAAEJAABmaWxlOi8vLwoAAAABAQAATWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAA
	AAgAAAAABAAAQcB9yuqAAAAkAAAAAQEAADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdD
	NjE5RkY3QjhDQRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAAD8AAAA
	AAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIgAAD4AQAAAAAAAAUgAABoAQAAAAAA
	ABAgAAB4AQAAAAAAABEgAACsAQAAAAAAABIgAACMAQAAAAAAABMgAACcAQAAAAAAACAg
	AADYAQAAAAAAADAgAAAEAgAAAAAAAAHAAABMAQAAAAAAABHAAAAgAAAAAAAAABLAAABc
	AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Desktop/yoursTRULY/youtube-like-button-png-red.png</key>
	<data>
	Ym9va/gCAAAAAAQQMAAAAODnaD7CyemfFPHg8gIB43W95c2UAFocvXd8hk3PUG0d9AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAABwAAAAEB
	AABEZXNrdG9wAAoAAAABAQAAeW91cnNUUlVMWQAAHwAAAAEBAAB5b3V0dWJlLWxpa2Ut
	YnV0dG9uLXBuZy1yZWQucG5nABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFQAAAAIAAAA
	BAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA28MGAAAAAAAIAAAABAMA
	AP8UEQAAAAAACAAAAAQDAABXvhcAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgA
	AAAIAAAAAAQAAEHAgJtVgAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwoAAAABAQAA
	TWFjIFNpZXJyYQAACAAAAAQDAAAAAHQFOgAAAAgAAAAABAAAQcB9yuqAAAAkAAAAAQEA
	ADg1RjdFMUEzLTZFQzUtM0YzMy04ODJBLTdDNjE5RkY3QjhDQRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAAB8AAAAAAAAAAUQAADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAA
	AAAAAAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAAAAAA
	ABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADsAQAAAAAAAAHA
	AAA0AQAAAAAAABHAAAAgAAAAAAAAABLAAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/killer/Downloads/typewriter-1.mp3</key>
	<data>
	Ym9va8ACAAAAAAQQMAAAAI8vmZ+hBhCO5q6+E7VjUbLfuoWVHI/fokOnVq6aLq3jvAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGtpbGxlcgAACQAAAAEB
	AABEb3dubG9hZHMAAAAQAAAAAQEAAHR5cGV3cml0ZXItMS5tcDMQAAAAAQYAABAAAAAg
	AAAAMAAAAEQAAAAIAAAABAMAACFpBgAAAAAACAAAAAQDAADKwwYAAAAAAAgAAAAEAwAA
	zcMGAAAAAAAIAAAABAMAALd0kAAAAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwPcr7wAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8KAAAAAQEAAE1hYyBT
	aWVycmEAAAgAAAAEAwAAAAB0BToAAAAIAAAAAAQAAEHAfcrqgAAAJAAAAAEBAAA4NUY3
	RTFBMy02RUM1LTNGMzMtODgyQS03QzYxOUZGN0I4Q0EYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
